<h2>Submit a Reimbursement Claim</h2>

<%= form_with model: @reimbursement, local: true, html: { multipart: true } do |form| %>
 <%= form.hidden_field :employee_id, value: params[:employee_id] %>
  <div class="mb-3">
    <%= form.label :purpose %>
    <%= form.text_area :purpose, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'form-control', step: 0.01, required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_expenditure %>
    <%= form.date_field :date_of_expenditure, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :receipt %>
    <%= form.file_field :receipt, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit Claim', class: 'btn btn-primary' %>
<% end %>
